.scrollup {
  width: 68px;
  height: 68px;
  opacity: 1;
  position: fixed;
  bottom: 50px;
  right: 190px;
  display: none;
  text-indent: -9999px;
  background: url("../images/button-up.svg") no-repeat;
  color: #00AEEF;
}
@media (min-width:320px) and (max-width:991px){
  .scrollup {
    display: none !important;
  }
}
