@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese");
* {
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0; }

body,
html {
  height: 100%; }

.wrapper {
  width: 100%;
  display: table;
  height: 100%; }

.content {
  display: table-row;
  height: 100%; }

.scrollup {
  right: 100px;
  width: 60px;
  height: 60px;
  opacity: 1;
  position: fixed;
  bottom: 50px;
  text-indent: -9999px;
  background: url("../images/button-up.svg") no-repeat;
  color: #00AEEF; }

@media (min-width: 320px) and (max-width: 990px) {
  .scrollup {
    display: none !important; } }

.navbar-nav:first-child li:last-child {
  display: none; }

.navbar {
  width: 100%;
  z-index: 99;
  position: fixed; }

.navbar {
  border-radius: 0; }

.navbar-collapse {
  margin-right: -25px; }

.navbar-default {
  background-color: #00AEEF; }

.navbar-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  height: 60px;
  padding-top: 21px; }

.navbar-nav > li {
  margin-right: 50px; }

.navbar-brand {
  display: none; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle {
  border-color: #00AEEF; }

.navbar-default .navbar-nav > li > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF; }

.navbar {
  border: none; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  border: none; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-default .navbar-nav > li:focus {
  background-color: blue; }

.navbar .navbar-nav:first-child {
  display: inline-block;
  float: left;
  margin-left: 135px;
  vertical-align: top; }

.navbar .navbar-nav:last-child {
  float: right;
  margin-right: 105px; }

.navbar .navbar-collapse {
  text-align: center; }

.navbar-default .navbar-toggle:hover {
  background-color: #00AEEF;
  border-color: #fff; }

.navbar-default .navbar-toggle {
  border-color: #00aeef;
  float: right;
  margin-right: 94px;
  margin-top: 2px;
  height: 49px; }

.navbar-default .navbar-toggle .icon-bar {
  width: 30px;
  margin-top: 6px; }

@media screen and (max-width: 1200px) {
  .navbar-nav > li {
    margin-right: 30px; } }

@media screen and (max-width: 1038px) {
  nav .navbar-collapse ul:first-child {
    margin-left: 35px !important; }
  nav .navbar-collapse ul:last-child {
    margin-right: 20px !important; } }

@media screen and (max-width: 852px) {
  nav .navbar-collapse ul:first-child {
    margin-left: 0 !important;
    margin-right: auto; }
  nav .navbar-collapse ul:last-child {
    margin-right: 0 !important;
    margin-right: auto; } }

@media screen and (max-width: 798px) {
  .navbar-collapse.collapse {
    display: none !important;
    padding-left: 0px; }
  .navbar-collapse.collapse.in {
    display: block !important; }
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important; }
  .navbar-header {
    float: none;
    overflow-y: hidden; }
  .nav .navbar-nav > li {
    display: block;
    width: 100% !important; }
  .navbar-nav > li {
    float: none !important; }
  .navbar-nav:first-child > li {
    margin-left: auto !important;
    margin-right: auto !important; }
  .navbar-nav:first-child {
    float: none !important; }
  .navbar-nav:first-child li:last-child {
    display: block; }
  .navbar-nav:last-child li {
    display: none; } }

@media screen and (max-width: 425px) {
  .navbar-toggle {
    top: 5px;
    right: -15px;
    border: none; } }

.vertical {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

.header {
  margin-top: 90px;
  height: 70px;
  overflow-y: hidden; }

.header .img-logo-tablet {
  display: none; }

.header .img-logo-mobile {
  display: none; }

.header-buttons-section a {
  display: inline-block; }

.header-buttons-section a:last-child {
  float: right; }

.header-phone-button {
  background: #EB3450;
  border-radius: 30px;
  width: 180px;
  height: 40px;
  border: 3px solid #F17185;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.img-phone-number {
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
  float: right; }

.header-search-button {
  border: 3px solid #4DC6F4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: #00AEEF;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: right; }

@media (min-width: 1441px) {
  .navbar .navbar-collapse {
    width: 1443px;
    margin-left: auto;
    margin-right: auto; }
  .header {
    width: 1170px;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 991px) {
  .header .img-logo-tablet {
    display: block;
    padding-left: 80px; }
  .header .img-logo-desktop {
    display: none; }
  .header-phone-button {
    margin-left: 15px; }
  .header-search-button {
    margin-right: 20px; } }

@media (max-width: 767px) {
  .header-phone-button {
    display: none; }
  .header-search-button {
    margin-right: 50px; }
  .header .img-logo-tablet {
    display: block;
    padding-left: 45px; }
  .navbar-default .navbar-toggle {
    border-color: #00aeef;
    float: right;
    margin-right: 75px;
    margin-top: 2px;
    height: 49px; } }

@media screen and (max-width: 479px) {
  .header .img-logo-tablet {
    display: block;
    padding-left: 80px; }
  .navbar-default .navbar-toggle {
    border-color: #00aeef;
    float: right;
    margin-right: 52px;
    margin-top: 0px;
    height: 50px; }
  .header .img-logo-tablet {
    display: block;
    padding-left: 25px; }
  .header .img-logo-tablet {
    display: none; }
  .header .img-logo-mobile {
    display: block;
    padding-left: 32px; }
  .header-search-button {
    margin-right: 35px;
    padding-left: 0; }
  .col-xs-3 {
    padding-left: 0px; } }

@media screen and (max-width: 360px) {
  .header-search-button {
    margin-right: 25px;
    padding-left: 0; } }

.stripe_under-header {
  background: #F2F2F2;
  height: 2px;
  width: 100%; }

.footer {
  background-color: #00AEEF; }

.footer .container {
  margin-top: 100px; }

.footer .container div {
  padding-left: 0; }

.footer .container div p:first-child,
.footer .container div p:nth-child(2) {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  color: #FFFFFF;
  line-height: 24px; }

.footer .container div ul li:first-child {
  margin-left: 0 !important; }

.footer .container div ul {
  margin-bottom: 90px; }

.footer .container div ul li {
  display: inline-block;
  margin-left: 26px; }

.footer .container .links_to_navigation a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff; }

.footer .container .links_to_navigation:last-child {
  padding-right: 0;
  width: 26%; }

.footer .container div ul li:first-child {
  margin-left: 0; }

.footer .container div ul {
  padding-left: 0; }

.links_to_follow {
  margin-top: 85px; }

.links_to_navigation a p {
  margin-bottom: 20px; }

.links_to_follow .mobile {
  display: none; }

.under-footer {
  width: 100%;
  height: 10px;
  background: rgba(0, 174, 239, 0.8); }

@media screen and (max-width: 992px) {
  .footer .container .links_to_navigation:last-child {
    padding-right: 0;
    width: 100%; }
  .links_to_follow {
    margin-top: 70px;
    margin-bottom: 50px; }
  .footer .container div:nth-child(4) {
    margin-top: 50px;
    margin-bottom: 50px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .links_to_follow .mobile {
    display: block; }
  .links_to_follow .desktop {
    display: none; }
  .footer .container div p {
    font-family: Roboto;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    color: #FFFFFF; }
  .footer .container div {
    margin-left: 80px;
    bottom: 5px; }
  .footer .container div p:first-child,
  .footer .container div p:nth-child(2) {
    width: 330px; }
  .links_to_follow {
    margin-left: 0 !important;
    margin-bottom: 0;
    height: 108px;
    overflow-y: hidden; }
  .footer .container .links_to_navigation:nth-child(3) {
    position: relative;
    right: 62px; }
  .footer .container .links_to_navigation:nth-child(4) a p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    color: #FFFFFF; } }

@media (max-width: 768px) {
  .links_to_follow .mobile {
    display: block; }
  .links_to_follow .desktop {
    display: none; }
  .footer .container div p {
    font-family: Roboto;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    color: #FFFFFF; }
  .footer .container div {
    margin-left: 80px;
    bottom: 5px; }
  .footer .container div p:first-child,
  .footer .container div p:nth-child(2) {
    width: 330px; }
  .links_to_follow {
    margin-left: 0 !important;
    margin-bottom: 0;
    height: 108px;
    overflow-y: hidden; }
  .footer .container .links_to_navigation:nth-child(3) {
    position: relative;
    right: 0; }
  .footer .container .links_to_navigation:nth-child(4) a p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    color: #FFFFFF; } }

@media screen and (max-width: 479px) {
  .links_to_follow {
    margin-top: 70px;
    margin-bottom: 50px; }
  .footer .container div:nth-child(4) {
    margin-top: 50px;
    margin-bottom: 50px; }
  .footer .container {
    margin-left: -32px !important;
    bottom: 5px; }
  .footer .container div p:first-child,
  .footer .container div p:nth-child(2) {
    width: 260px; } }
