@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese");
* {
  overflow-x: hidden; }

.categories_data {
  margin-top: 80px; }

.categories_data .row div:nth-child(1) h2 {
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  text-align: center; }

.categories-block {
  background-color: #F2F2F2; }

.categories {
  margin-top: 40px;
  margin-bottom: 65px;
  left: 14px;
  padding-left: 20px; }

.categories-block h1 {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #000000;
  margin-top: 100px;
  overflow-y: hidden; }

.slick-track {
  width: 500000px !important; }

.slick-list {
  width: 992px;
  margin-left: auto;
  margin-right: auto; }

.slick-slide {
  width: 167px !important;
  margin-right: 32px; }

.slick-slide:focus,
.slick-slide a {
  outline: none; }

.categories .slick-prev {
  position: relative;
  left: -23px;
  z-index: 2;
  top: 90px; }

.categories .slick-next {
  width: 40px;
  height: 40px;
  z-index: 2;
  top: 104px;
  right: 28px; }

.slick-next:before,
.slick-prev:before {
  font-size: 45px;
  color: #EB3450;
  background-color: #F2F2F2; }

.categories div a {
  display: block;
  border: 3px solid #f2f2f2 !important;
  border-radius: 80px;
  padding: 3px;
  position: relative; }

.categories div a:focus {
  display: block;
  border: 3px solid #EB3450 !important;
  border-radius: 80px;
  position: relative; }

.categories div p {
  margin-top: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center; }

.responsive {
  overflow-y: hidden; }

.for-slick {
  margin-top: -19px; }

.tooth img {
  display: block;
  width: 100%; }

.tags {
  overflow-y: hidden;
  margin-bottom: 100px;
  margin-top: 70px; }

.tags .slick-next:before,
.tags .slick-prev:before {
  font-size: 45px;
  color: #EB3450;
  background-color: #fff; }

.tags div input[type=radio] {
  display: none; }

.tags div input[type=radio] + label {
  width: 95%;
  height: 60px;
  background: #EB3450;
  border-radius: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: normal;
  color: #EB3450;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 10px; }

.tags div input[type=radio]:checked + label {
  background-color: #EB3450;
  color: #fff; }

.tags .slick-prev {
  top: 20px;
  left: 12px; }

.tags .slick-next {
  top: 20px;
  right: 37px; }

.tags .slick-list {
  width: 960px;
  margin-left: 110px; }

.articles {
  margin-top: -49.5px;
  margin-left: -2.5px; }

.articles a {
  width: 362px;
  height: 550px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
  background-color: red;
  background: #F2F2F2;
  border-radius: 6px;
  position: relative;
  overflow: hidden; }

.articles a div .articles-image {
  display: block;
  overflow-y: hidden !important;
  width: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.articles .left {
  margin-left: 0; }

.articles .right {
  margin-right: 0; }

.articles .breakdown-articles {
  width: 1146px;
  height: 441px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px; }

.header-adults div:first-child,
.header-kids div:first-child,
.header-parents div:first-child,
.header-schools div:first-child,
.header-teenagers div:first-child {
  height: 260px !important;
  margin-left: 0;
  border-radius: 0;
  background: #F2F2F2; }

.articles a:nth-child(10),
.articles a:nth-child(11),
.articles a:nth-child(11),
.articles a:nth-child(12),
.articles a:nth-child(13),
.articles a:nth-child(14),
.articles a:nth-child(4),
.articles a:nth-child(5),
.articles a:nth-child(6),
.articles a:nth-child(6),
.articles a:nth-child(7),
.articles a:nth-child(8),
.articles a:nth-child(9) {
  margin-top: 30px; }

.articles a div:nth-child(2) {
  width: 302px;
  height: 140px;
  margin-left: 30px;
  overflow-y: hidden; }

.articles a div:nth-child(2) h3 {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #000000; }

.articles-button {
  width: 166px !important;
  height: 60px !important;
  border: 5px solid #F17185 !important;
  border-radius: 30px !important;
  margin-left: 98px !important;
  margin-top: 40px;
  background-color: #EB3450; }

.articles-button p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: normal;
  text-align: center;
  color: #fff;
  margin-top: 13px; }

.articles-button:hover p {
  color: #fff; }

.articles .breakdown-articles {
  background: #00A9E8;
  border-radius: 6px;
  background-image: url("../images/pattern.svg");
  background-repeat: repeat-x; }

.articles .breakdown-articles h2 {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  margin-top: 100px; }

.breakdown-articles p {
  display: inline-block;
  width: 550px;
  margin-left: 280px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-top: 27px; }

a:focus,
a:hover {
  text-decoration: none; }

.breakdown-articles-buttons {
  margin-top: 18px;
  margin-left: 442px !important;
  text-decoration: none;
  display: block;
  overflow-y: hidden; }

.articles .breakdown-articles-buttons {
  width: 228px;
  height: 63px;
  margin-left: 40%;
  display: block;
  background-color: #00A9E8; }

.articles .breakdown-articles-buttons h2,
.articles .breakdown-articles-buttons p {
  display: block; }

.articles .breakdown-articles-buttons div img {
  margin-left: 14px;
  margin-top: 14px;
  float: left;
  width: 24px !important;
  height: 24px !important; }

.articles .breakdown-articles-buttons .phone-number {
  width: 228px;
  height: 60px;
  border: 5px solid #FFD456;
  border-radius: 35px;
  overflow-y: hidden;
  background: #FFC005; }

.articles .breakdown-articles-buttons .phone-number h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  overflow-y: hidden;
  margin-top: 14px;
  width: 155px;
  float: right;
  margin-right: 15px; }

.articles .breakdown-articles-buttons .message {
  width: 191px;
  height: 60px;
  border: 5px solid #4DC6F4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 35px;
  float: right;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  bottom: 60px;
  background-color: #00AEEF; }

.articles .breakdown-articles-buttons .message h5 {
  margin-top: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF; }

.articles {
  margin-bottom: 100px; }

@media (min-width: 1201px) {
  .tags .tag-primary:first-child,
  .tags .tag-primary:nth-child(3n+4) {
    height: 60px;
    width: 296px !important;
    border-radius: 30px;
    border: 3px solid #EB3450;
    overflow-y: hidden;
    padding-left: 15px; }
  .tags .tag-primary:nth-child(3n+2) {
    width: 296px !important;
    height: 60px;
    border-radius: 30px;
    border: 3px solid #EB3450;
    overflow-y: hidden;
    padding-left: 15px; }
  .tags .tag-primary:nth-child(3n+3) {
    width: 296px !important;
    height: 60px;
    border-radius: 30px;
    border: 3px solid #EB3450;
    overflow-y: hidden;
    padding-left: 15px; } }

@media screen and (max-width: 1200px) {
  .content .container {
    width: 970px; }
  .slick-list {
    width: 795px;
    margin-left: 80px; }
  .tags .tag_first,
  .tags .tag_second,
  .tags .tag_third {
    width: 260px !important; }
  .tags .tag-primary {
    width: 260px !important;
    height: 60px !important;
    border-radius: 30px !important;
    border: 3px solid #EB3450 !important;
    overflow-y: hidden !important; }
  .tags .slick-list {
    width: 580px;
    margin-left: 200px; }
  .articles {
    margin-left: 35px; }
  .articles a {
    width: 264px; }
  .articles a div:nth-child(2) {
    width: 260px;
    margin-left: 15px; }
  .articles a div:nth-child(2) h3 {
    text-align: left;
    margin-right: 10px; }
  .articles a div:nth-child(3) {
    margin-left: 50px !important; }
  .articles a:nth-child(7) {
    width: 850px !important;
    height: 569px; }
  .articles a:nth-child(7) p {
    width: 295px;
    margin-bottom: 30px; }
  .breakdown-articles {
    width: 850px !important;
    float: left;
    margin-left: 50px; }
  .breakdown-articles-buttons {
    margin-left: 310px !important; }
  .breakdown-articles p {
    width: auto !important;
    margin-left: 0; }
  .breakdown-articles .breakdown-articles-buttons {
    margin-left: 35%; } }

@media screen and (max-width: 991px) {
  .content .container {
    width: 750px; }
  .tags .slick-list .slick-slide {
    width: 585px; }
  .slick-list {
    width: 660px;
    margin-left: 30px; }
  .slick-slide {
    margin-right: 35px !important; }
  .tags .slick-list {
    width: 260px;
    margin-left: 235px; }
  .tags .slick-slide {
    width: 260px !important; }
  .tags div input[type=radio] + label {
    width: 100% !important; }
  .slick-slide {
    margin-left: 17px; }
  .articles {
    margin-left: 70px; }
  .col-sm-6 {
    margin-top: 30px; }
  .breakdown-articles-buttons .phone-number {
    margin-left: 25px; }
  .articles a:nth-child(3) {
    margin-left: 0; }
  .articles a:nth-child(4) {
    margin-right: 0;
    margin-left: 30px; }
  .articles a:nth-child(5) {
    margin-left: 0; }
  .articles a:nth-child(10) {
    margin-left: 0;
    margin-right: 15px; }
  .articles a:nth-child(11) {
    margin-left: 15px; }
  .articles a:nth-child(12) {
    margin-left: 0; }
  .articles a:nth-child(7) {
    width: 558px !important;
    height: 569px; }
  .articles a:nth-child(7) div:nth-child(3) {
    width: 250px !important;
    height: 160px !important; }
  .articles a:nth-child(7) p {
    margin-left: 140px; }
  .articles a div:nth-child(2) {
    width: 260px;
    margin-left: 15px;
    height: 140px; }
  .articles a:nth-child(7) div:nth-child(3) div {
    top: 40px;
    right: 25px; }
  .breakdown-articles {
    width: auto !important;
    margin-right: 100px !important; }
  .breakdown-articles p {
    width: auto !important;
    margin-left: 0; }
  .breakdown-articles .breakdown-articles-buttons {
    width: 260px;
    margin-left: 22% !important; } }

@media screen and (max-width: 768px) {
  .content .container {
    width: 590px; }
  .categories {
    margin-top: 37px;
    margin-bottom: 94px;
    left: -8px;
    padding-left: 20px; }
  .categories_data .row .col-lg-offset-1 {
    margin-left: 3.33333333%; }
  .categories_data .row .col-sm-10 {
    width: 100%; }
  .categories_data .row div:nth-child(1) h2 {
    width: 520px; }
  .categories_data .row div h2 {
    margin-top: 28px;
    width: 600px;
    float: none;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #000000; }
  .col-xs-offset-6 {
    margin-left: 46%;
    width: 53%; }
  .categories_data .for-slick {
    margin-top: -25px; }
  .tags .slick-list {
    width: 280px;
    margin-left: 165px; }
  .slick-list {
    width: 380px;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto; }
  .categories_data .row .for-slick {
    display: block !important; }
  .slick-slide {
    width: 160px !important;
    margin-right: 15px !important; }
  .categories .slick-prev {
    position: relative;
    left: 60px;
    z-index: 2;
    top: 108px;
    width: 40px;
    height: 40px; }
  .categories .slick-next {
    right: 70px;
    z-index: 2;
    top: 109px;
    width: 40px;
    height: 40px; }
  .tags .slick-list .slick-slide {
    margin-top: 20px; }
  .tags {
    display: block; }
  .tags .slick-prev {
    top: 25px;
    left: 14px;
    width: 40px;
    height: 40px; }
  .tags .slick-next {
    top: 25px;
    right: 39px;
    width: 40px;
    height: 40px; }
  .articles {
    margin-top: -80px;
    margin-left: 0; }
  .articles a {
    margin-left: 15px;
    height: 520px; }
  .articles a div:nth-child(2) {
    width: 175px;
    margin-left: 51px;
    height: 185px;
    margin-top: -52px; }
  .articles a div:nth-child(3) {
    margin-top: 27px; }
  .articles a div:nth-child(2) h3 {
    text-align: center; }
  .breakdown-articles {
    display: block;
    width: 558px !important;
    height: 469px !important; }
  .breakdown-articles h2 {
    margin-top: 100px !important;
    margin-left: -35px; }
  .breakdown-articles p {
    width: 360px !important;
    text-align: center !important;
    margin-left: 75px; }
  .breakdown-articles .breakdown-articles-buttons {
    width: 260px;
    margin-left: 24% !important; }
  .categories_data {
    width: 590px; } }

@media screen and (max-width: 640px) {
  .categories-block h1 {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    width: 264px;
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto; }
  .content .container {
    width: 323px !important; }
  .categories {
    margin-top: -10px;
    padding-left: 0 !important;
    padding-right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    left: auto !important; }
  .tags {
    display: none !important; }
  .categories_data .row .for-slick {
    display: none; }
  .slick-list {
    width: 128px; }
  .slick-slide {
    margin-top: 5px;
    width: 128px !important;
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .slick-slide a {
    overflow-y: hidden; }
  .slick-slide a img {
    width: 115px !important;
    height: 115px;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle; }
  .categories div a:focus {
    height: 128px !important;
    width: 128px;
    display: block;
    border: 3px solid #EB3450 !important;
    border-radius: 70px;
    position: relative; }
  .categories .slick-next {
    right: 50px;
    z-index: 2;
    top: 94px; }
  .categories .slick-prev {
    left: 46px;
    z-index: 2;
    top: 94px; }
  .categories_data {
    width: 314px;
    margin-top: 17px; }
  .categories_data .row div h2 {
    width: 245px;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 39px !important;
    margin-left: -5px; }
  .breakdown-articles p {
    width: 200px !important;
    text-align: center !important;
    margin-left: 16px;
    margin-top: 19px; }
  .breakdown-articles {
    width: 264px !important;
    height: 415px !important; }
  .articles .breakdown-articles-buttons .phone-number {
    width: 60px;
    height: 60px;
    border: 5px solid #ffd456;
    border-radius: 35px;
    overflow-y: hidden;
    background: #ffc005;
    margin-top: 1px;
    margin-left: 30.5px !important; }
  .breakdown-articles .breakdown-articles-buttons {
    width: 259px;
    margin-top: 8px;
    margin-left: 24% !important; }
  .breakdown-articles .breakdown-articles-buttons h5 {
    display: none !important; }
  .categories_data .row div:nth-child(1) h2 {
    display: none; }
  .categories_data .row .col-sm-10 {
    width: 100%;
    margin-top: 120px; }
  .categories div p {
    margin-top: 0; }
  .breakdown-articles {
    width: 264px !important; }
  .articles {
    margin-left: 10px; }
  .articles a {
    margin-left: auto !important;
    margin-right: auto !important; } }

.tooth {
  background-image: url("../images/categories/Polygon.svg");
  height: 13px;
  width: 100%;
  background-repeat: repeat-x; }
