@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese");
* {
  overflow-x: hidden; }

.scrollup {
  right: 100px;
  width: 60px;
  height: 60px;
  opacity: 1;
  position: fixed;
  bottom: 50px;
  text-indent: -9999px;
  background: url("../images/button-up.svg") no-repeat;
  color: #00AEEF; }

@media (min-width: 320px) and (max-width: 990px) {
  .scrollup {
    display: none !important; } }

.navbar {
  width: 100%;
  z-index: 99;
  position: fixed; }

.navbar {
  border-radius: 0; }

.navbar-collapse {
  margin-right: -25px; }

.navbar-default {
  background-color: #00AEEF; }

.navbar-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  height: 60px;
  padding-top: 20px; }

.navbar-nav > li {
  margin-right: 50px; }

.navbar-brand {
  display: none; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle {
  border-color: #00AEEF; }

.navbar-default .navbar-nav > li > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-default .navbar-nav > li:focus {
  background-color: blue; }

.navbar-nav li:last-child {
  position: relative;
  z-index: 2;
  left: 245px; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; }

.navbar .navbar-collapse {
  text-align: center; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  width: 1170px; }

.navbar-default .navbar-toggle:hover {
  background-color: #00AEEF;
  border-color: #fff; }

@media screen and (max-width: 1200px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 910px; }
  .navbar-nav li:last-child {
    left: 150px; }
  .navbar-nav > li {
    margin-right: 30px; } }

@media screen and (max-width: 991px) {
  .navbar {
    min-height: 60px !important; }
  .navbar-header {
    overflow-y: hidden; }
  .navbar-toggle {
    top: 5px;
    right: 105px;
    border: none; }
  .navbar-toggle .icon-bar {
    width: 30px;
    height: 3px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-collapse.collapse.in {
    display: block !important; }
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important; }
  .navbar-header {
    float: none; }
  .collapse {
    display: none !important; }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
  .navbar .navbar-collapse {
    text-align: center; }
  .navbar .navbar-nav > li {
    float: none; }
  .navbar .navbar-nav li a {
    display: inline-block; }
  .navbar .navbar-nav li:last-child {
    left: 0 !important; } }

@media screen and (max-width: 768px) {
  .navbar .navbar-nav {
    width: 100%;
    overflow-y: hidden !important; }
  .navbar-collapse .collapse {
    display: none !important; }
  .navbar .navbar-nav li a {
    display: inline-block; }
  .navbar .navbar-nav li:last-child {
    left: 0 !important; }
  .navbar-collapse.collapse.in {
    display: block !important; }
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important; }
  .navbar-toggle {
    top: 5px;
    right: 60px;
    border: none; }
  .navbar-header {
    float: none; } }

@media screen and (max-width: 425px) {
  .navbar-toggle {
    top: 5px;
    right: -15px;
    border: none; } }

.vertical {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

.header {
  margin-top: 88px;
  height: 80px;
  overflow-y: hidden; }

.header .row {
  position: relative;
  bottom: 10px; }

.button-search {
  background-color: #00AEEF;
  cursor: pointer; }

.button-search img {
  margin-top: 9px;
  margin-left: 9px; }

.header .row {
  margin-top: 15px;
  margin-bottom: 35px; }

.header .row div {
  padding-left: auto; }

.phone-btn {
  float: left;
  overflow-y: hidden;
  width: 180px;
  height: 40px;
  border: 3px solid #F17185;
  border-radius: 30px;
  background-color: #EB3450; }

.phone-btn .icon-phone {
  margin-top: 6.5px;
  margin-left: 10px;
  float: left; }

.phone-btn div:nth-child(2) {
  width: 131px;
  height: 40px;
  margin-top: 7px;
  float: left;
  margin-left: 5px; }

.phone-btn div:nth-child(2) p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  text-align: right;
  color: #FFFFFF; }

.phone_number_header img {
  float: left;
  margin-top: 3px; }

.phone_number_header p {
  float: right;
  width: 139px;
  height: 40px;
  position: relative;
  text-decoration: none !important;
  color: #fff !important;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  text-align: right;
  cursor: pointer;
  margin-top: 1px; }

.search {
  width: 40px;
  height: 40px;
  float: right;
  border: 3px solid #4DC6F4;
  border-radius: 30px;
  background: #00AEEF; }

.search img {
  display: block;
  margin-top: 9px;
  margin-left: 9px;
  cursor: pointer; }

.block-btn-phone-search {
  margin-right: 0; }

.block-btn-phone-search a:first-child {
  margin-left: 15px;
  margin-top: 1px; }

.block-btn-phone-search a:last-child {
  margin-top: 3px;
  margin-left: 2px; }

.header .row div:nth-child(1) a:nth-child(4) img:last-child {
  display: none;
  position: relative;
  bottom: 25px;
  margin-left: 140px; }

@media screen and (max-width: 1200px) {
  .block-btn-phone-search {
    margin-right: 0; }
  .vertical {
    display: none; }
  .block-btn-phone-search a:first-child {
    margin-top: 4.1px; }
  .block-btn-phone-search a:last-child {
    margin-top: 3px;
    margin-left: 2px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    margin-top: 78px;
    height: 80px;
    overflow-y: hidden; }
  .header .row {
    margin-top: 20px; }
  .logo-big {
    display: inline-block; }
  .vertical {
    display: none; }
  .header .row .block-btn-phone-search {
    margin-top: 10px; }
  .block-btn-phone-search a {
    margin-bottom: 0; } }

@media screen and (max-width: 768px) {
  .header .row {
    margin-top: 10px; }
  .header .row div:nth-child(1) {
    padding-right: 0px; }
  .header .row div:nth-child(1) a:first-child {
    margin-top: 15px;
    margin-left: 75px; }
  .header .row div:nth-child(1) a:nth-child(2) {
    position: relative;
    bottom: 23px;
    margin-left: 10px; }
  .header .row div:nth-child(1) a:nth-child(4) img:last-child {
    display: block;
    position: absolute;
    bottom: 5px;
    margin-left: -140px; }
  .header .row div:nth-child(1) a:nth-child(4) img:first-child {
    display: none; }
  .header .row div:nth-child(2) {
    /* padding-right: 0px; */
    margin-top: 7px;
    margin-left: 75px; }
  .header .row div:nth-child(2) a {
    display: block; }
  .header .row div:nth-child(2) a .phone_number_header {
    margin-left: auto;
    width: auto; }
  .header .row div:nth-child(2) a .phone_number_header img {
    margin-left: 9px; }
  .logo-big {
    display: inline-block; }
  .vertical {
    display: none; }
  .block-btn-phone-search a {
    margin-bottom: 0; }
  .block-btn-phone-search {
    display: block; }
  .block-btn-phone-search a:first-child {
    margin-left: 0px !important;
    margin-top: 5px; }
  .block-btn-phone-search .phone-btn {
    display: none; } }

@media screen and (max-width: 756px) {
  .header .block-btn-phone-search .phone-btn {
    display: none !important; }
  .header .row div:nth-child(2) {
    margin-top: 7px;
    margin-left: -70px; } }

@media screen and (max-width: 479px) {
  .logo-big {
    display: block; }
  .header .row div:nth-child(1) a:nth-child(2) {
    position: relative;
    bottom: 40px;
    margin-left: 80px; }
  .header .row div:nth-child(1) a:nth-child(4) img:last-child {
    display: block;
    position: absolute;
    bottom: 25px;
    margin-left: 85px; }
  .header .row div:nth-child(2) {
    margin-top: 0px;
    margin-left: -32px; }
  .header .row div:nth-child(1) a:first-child {
    margin-top: 0px;
    margin-left: 35px; }
  .logo-small img {
    width: 100% !important; }
  .logo-small {
    display: block;
    margin-top: 5px;
    margin-left: 20px !important; }
  .block-btn-phone-search {
    margin-top: 1px;
    margin-left: 0; } }

@media screen and (max-width: 360px) {
  .header .row div:nth-child(2) {
    margin-top: 0;
    margin-left: 0px; } }

.footer {
  background-color: #00AEEF; }

.footer .container {
  margin-top: 100px; }

.footer .container div {
  padding-left: 0; }

.footer .container div p:first-child,
.footer .container div p:nth-child(2) {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: #FFFFFF;
  line-height: 24px; }

.footer .container div ul li:first-child {
  margin-left: 0 !important; }

.footer .container div ul {
  margin-bottom: 90px; }

.footer .container div ul li {
  display: inline-block;
  margin-left: 26px; }

.footer .container div ul li:first-child {
  margin-left: 0; }

.footer .container div ul {
  padding-left: 0; }

.links_to_follow {
  margin-top: 85px; }

.links_to_navigation a p {
  margin-bottom: 20px; }

.links_to_follow .mobile {
  display: none; }

.under-footer {
  width: 100%;
  height: 10px;
  background: rgba(0, 174, 239, 0.8); }

@media screen and (max-width: 992px) {
  .links_to_follow {
    margin-top: 70px;
    margin-bottom: 50px; }
  .footer .container div:nth-child(4) {
    margin-top: 50px;
    margin-bottom: 50px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .links_to_follow .mobile {
    display: block; }
  .links_to_follow .desktop {
    display: none; }
  .footer .container div p {
    font-family: Roboto;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    color: #FFFFFF; }
  .footer .container div {
    margin-left: 80px;
    bottom: 5px; }
  .footer .container div p:first-child,
  .footer .container div p:nth-child(2) {
    width: 330px; }
  .links_to_follow {
    margin-left: 0 !important;
    margin-bottom: 0;
    height: 108px;
    overflow-y: hidden; }
  .footer .container .links_to_navigation:nth-child(3) {
    position: relative;
    right: 62px; }
  .footer .container .links_to_navigation:nth-child(4) a p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    color: #FFFFFF; }
  .footer .container .links_to_navigation:nth-child(4) a {
    text-decoration: underline; } }

@media (max-width: 768px) {
  .links_to_follow .mobile {
    display: block; }
  .links_to_follow .desktop {
    display: none; }
  .footer .container div p {
    font-family: Roboto;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    color: #FFFFFF; }
  .footer .container div {
    margin-left: 80px;
    bottom: 5px; }
  .footer .container div p:first-child,
  .footer .container div p:nth-child(2) {
    width: 330px; }
  .links_to_follow {
    margin-left: 0 !important;
    margin-bottom: 0;
    height: 108px;
    overflow-y: hidden; }
  .footer .container .links_to_navigation:nth-child(3) {
    position: relative;
    right: 0; }
  .footer .container .links_to_navigation:nth-child(4) a p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    color: #FFFFFF; }
  .footer .container .links_to_navigation:nth-child(4) a {
    text-decoration: underline; } }

@media screen and (max-width: 479px) {
  .links_to_follow {
    margin-top: 70px;
    margin-bottom: 50px; }
  .footer .container div:nth-child(4) {
    margin-top: 50px;
    margin-bottom: 50px; }
  .footer .container {
    margin-left: -32px !important;
    bottom: 5px; }
  .footer .container div p:first-child,
  .footer .container div p:nth-child(2) {
    width: 260px; } }
