@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese");

* {
  overflow-x: hidden;
}

.content .title {
  margin-top: 82px;
}

 .content .title-text-style {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px; /* identical to box height */
  text-align: center;
  color: #EB3450;
}
//////////////////////////////////////////////////////////////////////////

.content  .single-item {
  margin-top: 60px;
}

.content  .slider-title .row .col h2 {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #EB3450;
  margin-bottom: 70px;
}

.content  .slick-prev::before {
  background: red;
  z-index: 3;
}
.content  .slick-slider {
  overflow-y: hidden;
}
.content  .slick-next,
.content  .slick-prev {
  top: 28.3%;
}

.content  .slick-prev {
  left: 107px;
  z-index: 3;
}

.content  .slick-next {
  right: 133px;
  z-index: 3;
}

.content  .slick-slide {
  &:focus,
  a {
    outline: none;
  }
}

.content  .slick-dots {
  position: relative;
  bottom: 0;
}

.content  .slick-next:before,
.content  .slick-prev:before {
  font-size: 45px !important;
}

.content  .slick-dots li,
.content  .slick-dots li button {
  height: 30px;
  width: 30px;
}

.content  .slick-dots li button:before {
  font-size: 30px;
  color: #F2F2F2;
  line-height: 31px;
  opacity: 1;
}

.content  .slick-dots li.slick-active button:before {
  color: #00AEEF;
}

   .content .slick-next:before,
   .content .slick-prev:before {
  font-size: 30px;
  color: #EB3450;
  background-color: transparent;
}

  .content  .single-item div div h3 {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-top: 50px;
}

  .content  .single-item div div p {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  width: 850px;
  margin-top: 26px;
  margin-bottom: 53px;
}
//////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////
/////////////////////////////////////////////////////
@media screen and (max-width: 1200px) {




  .content   .single-item div div p {
    margin-top: 30px;
    width: 850px;

  }
}
@media screen and (max-width: 991px) {




  .content   .slick-slide img {
    width: 362px;
    height: 365px;
  }

  .content   .single-item div div p {
    width: 558px;

  }
}
@media screen and (max-width: 767px) {


  .content .slick-slide img {
    width: 264px !important;
    height: 265px !important;
  }

  .content   .single-item div div h3 {
    width: 264px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .content   .single-item div div h3 p {
    margin-top: 30px !important;
    width: 242px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


  }

  .content  .slick-next,
  .content   .slick-prev {
    top: 35% !important;
  }

  .content  .slick-prev {
    left: 100px;
    z-index: 3 !important;
  }
}
@media screen and (max-width: 479px) {
.content   .slick-slide img {
    width: 264px !important;
    height: 265px !important;
  }

  .content   .single-item div div h3 {
    width: 264px !important;
  }

  .content  .single-item div div p {
    margin-top: 30px !important;
    width: 242px !important;
    margin-left: 20px !important;
  }

  .content  .slick-prev {
    top: 35%  !important;
  }

.content  .slick-prev {
    left: 30px  !important;
    z-index: 3;
  }

.content    .slick-next {
    right: 50px  !important;
    z-index: 3;
  }
.content     .title {
      margin-top: 50px !important;
  }
.content    .title-text-style {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #EB3450;
  }
  .content      .single-item {
        margin-top: 30px  !important;
    }
  .content    .slick-next,
  .content    .slick-prev {
      top: 37.5%  !important;
    }
  .content    .single-item div div h3 {
    margin-top: 100px  !important;
    }
  .content      .single-item div div p{
          margin-top: 10px !important;
      }
}
