@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese");

* {
  overflow-x: hidden;
}

 .title {
  margin-top: 100px;
}
.slider-img-container img{
  width: 100% !important;
 height: 100% !important;
 object-fit: cover;
 overflow-x: hidden;
}
  .title-text-style {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px; /* identical to box height */
  text-align: center;
  color: #EB3450;
  margin-top: 0px;
}
//////////////////////////////////////////////////////////////////////////

  .single-item {
  margin-top: 60px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

  .slider-title .row .col h2 {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #EB3450;
  margin-bottom: 70px;
}

  .slick-prev::before {
  background: red;
  z-index: 3;
}
  .slick-slider {
  overflow-y: hidden;
}
.slick-next, .slick-prev {
    width: 40px;
    top: 28.3%;
    height: 40px;
}
.slider-img-container{
  width: 505px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
}
  .slick-prev {
  left: 107px;
  z-index: 3;
}

  .slick-next {
  right: 133px;
  z-index: 3;
}

  .slick-slide {
  &:focus,
  a {
    outline: none;
  }
}

  .slick-dots {
  position: relative;
  bottom: 0;
}

  .slick-next:before,
  .slick-prev:before {
  font-size: 45px !important;
}

  .slick-dots li,
  .slick-dots li button {
  height: 30px;
  width: 30px;
}

  .slick-dots li button:before {
  font-size: 30px;
  color: #F2F2F2;
  line-height: 31px;
  opacity: 1;
}

  .slick-dots li.slick-active button:before {
  color: #00AEEF;
}

    .slick-next:before,
    .slick-prev:before {
  font-size: 30px;
  color: #EB3450;
  background-color: transparent;
}

    .single-item div div h3 {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-top: 24px;
}
.slick-list{
  width: 850px;
  margin-left: 145px;
}
.slider-signature{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  position: relative;
  right:180px;
  opacity: 0.5;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px !important;
line-height: 15px;
display: flex;
align-items: center;
}
    .single-item div div p {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  width: 850px;
  margin-top: 40px;
  margin-bottom: 53px;
}
//////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////
/////////////////////////////////////////////////////
@media screen and (max-width: 1200px) {
  .slick-list{
    width: 850px;
    margin-left: 50px;
  }

     .single-item div div p {
    margin-top: 30px;
    width: 850px;

  }
}
@media screen and (max-width: 991px) {
  .slider-img-container{
    width: 362px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-list{
    width: 558px;
    margin-left: 85px;
  }
  .slider-signature{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    position: relative;
    right:110px;
    opacity: 0.5;
  }

     .slick-slide img {
    width: 362px;
    height: 365px;
  }

     .single-item div div p {
    width: 558px;

  }
}
@media screen and (max-width: 767px) {
  .slider-img-container{
    width: 264px;
    height: 241px;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-list{
    width: 558px;
    margin-left: auto;
    margin-right: auto;
  }
   .slick-slide img {
    width: 264px !important;
    height: 241px !important;
  }

     .single-item div div h3 {
    width: 264px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

     .single-item div div h3 p {
    margin-top: 30px !important;
    width: 242px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


  }

    .slick-next,
     .slick-prev {
    top: 35% !important;
  }

    .slick-prev {
    left: 100px;
    z-index: 3 !important;
  }
  .slider-signature{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    position: relative;
    right:60px;
    opacity: 0.5;
  }
}
@media screen and (max-width: 600px) {
  .slick-dotted.slick-slider{
    width: 264px;
    margin-bottom: 0;
    padding: 0px;
  }
   .slick-slide img {
    width: 264px !important;
    height: 241px !important;
  }
  .slick-list{
    width: 264px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-signature{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    position: relative;
    right:60px;
    opacity: 0.5;
  }
     .single-item div div h3 {
    width: 264px !important;
  }

    .single-item div div p {
    margin-top: 30px !important;
    width: 264px !important;

  }

    .slick-prev {
    top: 35%  !important;
  }

  .slick-prev {
    left: -3px  !important;
    z-index: 3;
  }

    .slick-next {
    right: 2px  !important;
    z-index: 3;
  }
     .title {
      margin-top: 50px !important;
  }
    .title-text-style {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #EB3450;
  }
        .single-item {
        margin-top: 30px  !important;
    }
      .slick-next,
      .slick-prev {
      top: 37%  !important;
    }
      .single-item div div h3 {
    margin-top: 100px  !important;
    }
        .single-item div div p{
          margin-top: 10px !important;
      }
}
