@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese");

* {
  overflow-x: hidden;
}
/////////////////////////////////////////////////////////////////////////// raiting
.raiting .container .row {
  background-color: #00AEEF;
}

.raiting .container .row div h3 {
  margin-top: 80px;
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.raiting .container .row div p {
  margin-top: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.rating {
  height: 143px;
  margin-top: 30px;
  margin-left: 37.5%;
  display: inline-block;
  position: relative;
  overflow-y: hidden;
  font-size: 70px;
}

.rating label {
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  background: url("../images/raiting-stars/star-bg.svg") no-repeat;
}

.rating:hover label:hover input ~ .icon,
.rating:not(:hover) label input:checked ~ .icon {
  background: url("../images/raiting-stars/star-full.svg") no-repeat;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  background: url("../images/raiting-stars/star-bg.svg") no-repeat;
}
//////////////////////////////////////////////////////////////////////////////// similars-articles
@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }

  .rating {
    margin-left: 35%;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }

  .rating {
    margin-left: 30%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 450px;
  }

  .rating {
    margin-left: 16%;
  }
}
@media screen and (max-width: 479px) {
  .container {
    width: 310px;
  }

  .raiting {
    background-color: #00AEEF;
  }

  .rating {
    font-size: 55px;
    margin-left: 9%;
  }

  .rating label {
    position: absolute;
    top: 2px;
    left: 0 !important;
    cursor: pointer;
  }
}
