@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=cyrillic,hebrew,latin-ext,vietnamese");

* {
  overflow-x: hidden;
}
///////////////////////////////////////////////////////////////////////////// two-column

.content .two-column {
  margin-top: 100px;
  margin-bottom: 100px;
}
.content .two-column-image{
  width: 558px;
  height: 363px;
}
.content .two-column-title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 60px;
}

.content .img-signature {
  margin-top: 10PX;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  color: rgba(41, 36, 36, 0.5);
  margin-bottom: 24px;
}

.content .two-column .row div .two-column-image {
  width: 558px;
  height: 363px;
}

.content .two-column .row div .two-column-article {
  width: 100%;
  height: 363px;
  display: table-cell;
  vertical-align: middle;
}

.content .content .content .content .two-column .row div .two-column-article p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #292424;
  display: table-cell;
  vertical-align: middle;
}

.content .content .content .content .two-column .fake-block {
  display: none;
}
@media screen and (max-width: 1200px) {

.content .content .content   .two-column .row div .two-column-image {
    margin-top: 30px;
    width: 558px;
    height: 362px;
  }
}
@media screen and (max-width: 991px) {

.content .content .content   .two-column .original-block {
    display: none;
  }

.content .content .content   .two-column .fake-block {
    display: block;
  }

.content .content .content   .two-column .row div .two-column-image {
    display: block;
  }
.content .content .content   .img-signature{
    margin-left: 11.5%;
  }

}
@media screen and (max-width: 767px) {


.content .content   .two-column .fake-block {
    display: block;
  }

.content .content   .two-column .row div .two-column-image {
    display: block;
  }
.content .content   .img-signature{
    margin-left: 0%;
  }
.content .content   .two-column .row div .two-column-article p {
    margin-bottom: 150px;
    display: block;

  }
.content .content   .two-column .row div .two-column-image {
    margin-left: -15px;
    margin-top: 30px;
    width: 100%;
    height: 323px;
  }
}
@media screen and (max-width: 479px) {


.content   .two-column .fake-block {
    display: block;
  }

.content   .two-column .row div .two-column-image {
    display: table-cell;
    vertical-align: middle;
  }
.content   .two-column .row div .two-column-image {
    margin-top: 30px;
    width: 264px;
    height: 172px;
  }
.content   .img-signature{
    margin-left: 0%;
  }

}
