@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@fontface {
  font-family: Gotham Pro;
  src: url("./fonts/GothamPro.ttf")format("opentype");
}

* {
  overflow-x: hidden;
}
///////////////////////////////////////header

header .row .header-image .header-logo {
  position: absolute;
  top: 200px;
}

.non-main {
  display: none;
}



header .row .header-image .header-logo div h3 {
  font-family: Gotham Pro;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #28282B;
  margin-top: 70px;
  width: 580px;
  margin-left: 77px;
}

header .row .header-image .header-logo .btn-write {
  margin-top: 78px;
  margin-left: 235px;
  color: #fff;
  width: 264px;
  height: 56px;
  background: #5DB9E0;
  border-radius: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  display: flex;
  padding-left: 52px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

header .row .header-image .header-logo .btn-write p {
  margin-top: 3px;
}
///////////////////////////////////////////////////////////////////////////// about

.about {
  margin-top: 98px;
  margin-bottom: 100px;
}

.about-title {
  margin-left: -4px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #28282B;
}

.about-logos {
  margin-top: 55px;
}

.about-logos .slick-slide:nth-child(3n+1) {
  margin-top: 23px;
  width: 353px !important;
  padding-left: 0;
  padding-right: 0;
  margin-right: 34px;
}

.about-logos .slick-slide:nth-child(3n+2) {
  margin-top: 23px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 33px;
  margin-right: 30px;
  width: 166px !important;
}

.about-logos .slick-track {
  width: 500000px !important;
}

.about-logos .slick-slide:nth-child(3n+3) {
  width: 99px !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.slick-list {
  width: 768px;
  margin-left: 180px;
}

.slick-next:before,
.slick-prev:before {
  color: #5DB9E0;
  font-size: 40px;
}

.slick-next {
  top: 60px;
  right: 15px;
  z-index: 5;
  width: 40px;
  height: 40px;
}

.slick-prev {
  top: 60px;
  left: 0;
  z-index: 5;
  width: 40px;
  height: 40px;
}

.about-logos .slick-slide a img {
  margin: 0 auto;
}
////////////////////////////////////////////////////////////////////////////////////

.project-1-background {
  background-color: #EAF6FB;
}

.project-1 .row {
  margin-top: 100px;
}

.project-1 .row div {
  overflow-y: hidden;
}

.project-1 .container .row .col-lg-5 {
  height: 297px !important;
}

.project-1 .container .row .col-lg-5 h2 {
  margin-top: -4px;
  margin-left: -2px;
  font-family: Gotham Pro;
  font-size: 24px !important;
  line-height: 34px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #28282B;
}

.project-1 .container .row .col-lg-5 p {
  margin-top: 20px;
  width: 450px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #28282B;
}

.project-1 .container .row .col-lg-5 .buttons-number {
  margin-top: 31px !important;
  margin-left: -3px;
  width: 230px;
  height: 48px;
  background: #B3D66E;
  border-radius: 8px;
  display: inline-block;
}

.project-1 .container .row .col-lg-5 .buttons-number p {
  width: auto;
  margin-top: 15px;
  margin-left: -2px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.project-1 .container .row .col-lg-5 .buttons-chat {
  margin-left: 46px;
  height: 68px;
  width: 68px;
  background: #5DB9E0;
  display: inline-block;
  border-radius: 35px;
  position: relative;
  top: 10px;
  border: 6px solid #BBE2F1;
}

.buttons-chat img {
  margin-top: 12px;
  margin-left: 9px;
}

.project-1-slider .main-section,
.project-2-slider .main-section {
  width: 264px !important;
  height: 300px;
  background-color: #ccc;
  border-radius: 8px;
}

.project-1-slider .slick-list,
.project-2-slider .slick-list {
  margin-left: 0;
}

.project-1-slider .slick-list .slick-track,
.project-2-slider .slick-list .slick-track {
  width: 2640px!important;
}

.project-1-slider .slick-list .slick-slide:first-child,
.project-2-slider .slick-list .slick-slide:first-child {
  margin-left: 0;
}

.project-1-slider .slick-list .slick-slide,
.project-2-slider .slick-list .slick-slide {
  margin-left: 30px;
}

.project-1-slider .main-section .title-link-1 p,
.project-2-slider .main-section .title-link-2 p {
  font-family: Gotham Pro;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #28282B;
}

.project-1 .arrows,
.project-2 .arrows {
  margin-top: 35px;
  margin-left: 375px;
  margin-bottom: 90px;
}

.project-1 .arrows img:first-child,
.project-2 .arrows img:first-child {
  margin-right: 27px;
}

.project-1-slider .main-section .title-link-1,
.project-2-slider .main-section .title-link-2 {
  margin-top: 61px;
}

.project-1-slider .main-section .title-link-1 a,
.project-2-slider .main-section .title-link-2 a {
  margin-top: 13px;
  margin-left: 91px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
}

.project-1-slider .main-section .title-link-1 a {
  color: #54A9CA;
}

.project-2-slider .main-section .title-link-2 a {
  color: #7CA131;
}
/////////////////////////////////////////////////////

.feedback {
  margin-top: -16px;
}

.feedback .row div h3 {
  font-family: Gotham Pro;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height */
  align-items: center;
  color: #28282B;
}

.feedback .row div p {
  width: 438px;
  margin-left: 130px;
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #28282B;
}

.feedback .row div .form-group {
  margin-top: 40px;
  width: 558px !important;
  margin-left: 73px;
}

.feedback .row div .form-group .input-lg {
  height: 68px;
}

.feedback .row div .form-group .input-lg[placeholder] {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #28282B;
  padding-left: 30px;
  margin-bottom: 20px;
}

textarea[placeholder] {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  color: #28282B;
}

.feedback .row div .form-group .button-form {
  margin-top: 25px;
  background: #B3D66E;
  border-radius: 8px;
  width: 230px;
  height: 48px;
  margin-left: 158px;
}

.feedback .form-group .btn {
  margin-bottom: 81.5px;
}
////////////////////

footer {
  background-color: #5DB9E0;
}

footer .row .col-lg-5 {
  padding-right: 0;
}

footer .row .col-lg-5 .copyrights {
  margin-top: 100px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}

footer .icons-social-networks {
  margin-bottom: 93px;
}

footer .icons-social-networks a:first-child {
  margin-left: 0;
}

footer .icons-social-networks a {
  display: inline-block;
  margin-left: 26px;
}
@media screen and (max-width: 1200px) {
  header .row .header-image .header-logo div h3 {
    margin-left: 50px;
    margin-top: 20px;
  }

  header .row .header-image .header-logo .btn-write {
    margin-top: 20px;
    margin-left: 207px;
  }

  .about-logos .slick-next {
    right: 40px!important;
    z-index: 5;
    width: 40px;
    height: 40px;
  }

  .about-logos .slick-list {
    width: 768px;
    margin-left: 90px;
  }

  .about-logos .slick-prev:before,
  .about-logos.slick-next:before {
    color: #5DB9E0;
    font-size: 40px;
  }

  .about-logos .slick-next {
    right: 15px;
    z-index: 5;
    width: 40px;
    height: 40px;
  }

  .project-1 .arrows,
  .project-2 .arrows {
    width: 200px;
    margin-top: 35px;
    margin-left: 280px;
    margin-bottom: 90px;
  }

  .project-1 .arrows img:first-child,
  .project-2 .arrows img:first-child {
    margin-right: 17px;
  }

  .about-logos .slick-prev {
    left: 0;
    z-index: 5;
    width: 40px;
    height: 40px;
  }

  .feedback {
    margin-left: 20%;
  }

  .feedback .row div h3 {
    margin-left: -200px;
  }
}
@media screen and (max-width: 991px) {
  .about-logos .slick-list {
    width: 353px;
    margin-left: 180px;
    margin-top: 23px;
  }

  .about-logos .slick-slide:nth-child(3n+1),
  .about-logos .slick-slide:nth-child(3n+2),
  .about-logos .slick-slide:nth-child(3n+3) {
    width: 353px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .about-logos .slick-next {
    top: 75px;
  }

  .about-logos .slick-prev {
    top: 75px;
  }

  .col-sm-offset-1 {
    margin-left: 16.333333%;
  }

  .project-1 .row .project-1-slider,
  .project-1 .row .project-2-slider {
    margin-top: 30px;
    width: 580px;
  }

  .feedback .row div h3 {
    margin-left: 55px;
    margin-left: -66px;
  }
}
@media screen and (max-width: 768px) {
  header .row .header-image .header-logo {
    position: absolute;
    top: 297px;
  }

  header .row .header-image .header-logo div h3 {
    width: 570px;
    margin-left: -6px;
    margin-top: 70px;
  }

  header .row .header-image .header-logo .btn-write {
    margin-top: 90px;
    margin-left: 147px;
  }

  .project-1 .container .row .col-lg-5 {
    height: 175px!important;
  }

  .col-sm-offset-1 {
    margin-left: 11%;
  }

  .non-main {
    display: inline-block;
  }

  .project-1 .arrows,
  .project-2 .arrows {
    width: 200px;
    margin-top: 39px;
    margin-left: 385px;
    margin-bottom: 0!important;
  }

  .col-sm-8 {
    width: 70.666667%;
  }

  .col-sm-offset-2 {
    margin-left: 15%;
  }

  .about-logos .slick-list {
    width: 353px;
    margin-left: 23%;
    margin-top: 23px;
  }

  .about {
    margin-top: 98px;
    margin-bottom: 82px;
    width: 590px;
    margin-left: 94px;
  }

  .about-logos .slick-list {
    width: 353px;
    margin-left: 12%;
    margin-top: 27px;
  }

  .col-sm-offset-2 {
    margin-left: 11%;
  }

  .project-1 .container .row .col-lg-5 p {
    margin-top: 20px;
    width: 515px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #28282b;
  }

  .tablet {
    margin-top: 50px!important;
    margin-left: 5px;
    width: 230px;
    height: 48px;
    background: #b3d66e;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 50px;
  }

  .main {
    display: none;
  }

  .tablet p {
    width: auto;
    margin-top: 15px;
    margin-left: -2px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .mobile {
    margin-left: 46px;
    height: 68px;
    width: 68px;
    background: #5db9e0;
    display: inline-block;
    border-radius: 35px;
    position: relative;
    top: 10px;
    border: 6px solid #bbe2f1;
  }

  .project-1 a:last-child,
  .project-2 a:last-child {
    height: 125px;
  }

  .about-logos .slick-next {
    right: 197px!important;
    z-index: 5;
    width: 40px;
    height: 40px;
  }

  .about-logos {
    margin-top: 0;
  }

  .about-logos .slick-slide:nth-child(3n+1),
  .about-logos .slick-slide:nth-child(3n+2),
  .about-logos .slick-slide:nth-child(3n+3) {
    width: 353px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .about-logos .slick-next {
    right: 15px;
    z-index: 5;
    width: 40px;
    height: 40px;
  }

  .about-logos .slick-prev {
    left: 0;
    z-index: 5;
    width: 40px;
    height: 40px;
  }

  .non-main {
    margin-bottom: 50px;
  }

  .feedback {
    margin-left: 4%;
    margin-top: -25px;
  }

  footer {
    margin-top: 17px;
    background-color: #5db9e0;
  }
}
@media (min-width:320px) and (max-width: 767px) {
  header .row .header-image .header-logo {
    position: absolute;
    top: 160px;
}
  header .row .header-image .header-logo div h3 {
    font-family: Gotham Pro;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #28282B;
    margin: auto !important;
    width: auto !important;
  }

  header .row .header-image .header-logo .btn-write {
    margin: auto !important;
    margin-top: 48px !important;

  }
  .about-logos {
      margin-top: -30px;
  }
  .about {
    margin: auto !important;
    margin-top: 65px !important;
    margin-bottom: 70px!important;
    width: auto !important;
  }
  .about-logos .slick-prev {
    top: 90px;
}
.about-logos .slick-next {
    top: 90px;
    right: 30px!important;
}
  .about-title {
    margin: 8.333333333333% !important;

}
.about-logos .slick-list {
    /* width: 353px; */
    margin-left: 0%;
    margin-top: 0px;
}
.about-logos .slick-slide:nth-child(n){
  width: 264px!important;
margin-left: auto;
margin-right: auto;
margin-left: 35px;
}
.project-1 .container .row .col-lg-5 h2 {
    margin-top: auto !important;
    margin-left: auto !important;
}
.project-1 .container .row .col-lg-5 p {
    margin-top: 20px;
    width: auto !important;
    height: auto !important;
}
.project-1 .container .row .col-lg-5  {
    height: auto !important;
    padding: 0px;
    width: 264px;
}
.project-1 .row {
    margin-top: 70px;
}
.project-1 .arrows, .project-2 .arrows {
    width: 200px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 0!important;
}
.tablet {
    margin-top: 40px!important;
    margin-left: 0px;
    width: 264px;
    height: 48px;
    background: #b3d66e;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 30px;
}
.mobile {
    margin-left: 91px;
    height: 68px;
    width: 68px;
    background: #5db9e0;
    display: inline-block;
    border-radius: 35px;
    position: relative;
    top: 10px;
    border: 6px solid #bbe2f1;
}
.project-1 a:last-child, .project-2 a:last-child {
    height: 140px;
}

.non-main{
  margin-bottom: 0px !important;
}
.about-logos .slick-slide a img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

  .project-1 .row .project-1-slider,
  .project-1 .row .project-2-slider {
    margin-top: 30px;
    width: 264px !important;
  }

  .feedback .row div h3 {
    margin: auto !important;
  }

  .feedback .row div p {
    width: 259px !important;
    margin: auto !important;
  }
  footer .icons-social-networks {
    margin-bottom: 93px;
    width: 264px;
}
footer .icons-social-networks a {
    display: inline-block;
    margin-left: 15px;
}
  .feedback .row div .form-group {
    margin-top: 40px;
    width: auto !important;
    margin-left:auto !important;
     padding-right: 15px;
  }
  .feedback .row div .form-group .button-form {
    margin-top: 25px;
    background: #b3d66e;
    border-radius: 8px;
    width: 230px;
    height: 48px;
    margin-left: auto !important;
}
  .about-logos .slick-prev {
    left: 0;
    z-index: 5;
    width: 40px;
    height: 40px;
  }

  .about {
    margin-top: 70px;
  }
}
